{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="row mb-3">
    <div class="col"><h3>Dashboard</h3></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h5>Recurring Transactions</h5>
      <!-- Render recurring table -->
    </div>
    <div class="col-md-4">
      <h5>Accounts Summary</h5>
      <!-- Render accounts summary table -->
    </div>
    <div class="col-md-4">
      <h5>Tagged: Monitor</h5>
      <!-- Render tagged transactions -->
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <h5>All Transactions (Recent)</h5>
      <!-- Reuse existing transactions table -->
      {% include "transactions/transactions_list_partial.html" with transactions=all_transactions %}
    </div>
  </div>
</div>
{% endblock %}