{% extends "base.html" %}
{% block title %}All Transactions{% endblock %}

{% block content %}
{% if imported_count %}
<div class="alert alert-primary" role="alert">
  {{ imported_count }} transactions imported successfully.
</div>
{% endif %}

{% if duplicate_count %}
<div class="alert alert-warning" role="alert">
  {{ duplicate_count }} duplicates detected and skipped.
</div>
{% endif %}

{% if skipped_count %}
<div class="alert alert-warning" role="alert">
  {{ skipped_count }} transactions skipped due to errors.
</div>
{% endif %}
<h2>All Transactions</h2>
<style>.fs-12 { font-size: 12px; }</style> <!-- for transaction list -->

<div class="table-responsive">
{% include "transactions/transactions_list_partial.html" with transactions=all_transactions %}
</div>
{% endblock %}