{% extends "base.html" %}
{% load humanize %} 
{% block title %}Uncategorized Transactions{% endblock %}

{% block content %}
<h2>Uncategorized Transactions</h2>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col-1  text-start">
            <strong>Date</strong>
        </div>
        <div class="col-6 text-start">
            <strong>Description</strong>
        </div>
        <div class="col-1">
            <strong>Amount</strong>
        </div>
        <div class="col-1">
            <strong>Subcategory</strong>
        </div>
        <div class="col-1">
            <strong>Category</strong>
        </div>
        <div class="col-2">
            <strong>Actions</strong>
        </div>
    {% for txn in transactions %}
    <div class="row align-items-start">
        <div class="col-1">
          {{ txn.date|date:"n/j/y" }}
        </div>
        <div class="col-6 fs-6 text-start">
          {{ txn.description }}
        </div>
        <div class="col-1 text-end">
          ${{ txn.amount|floatformat:2|intcomma }}
        </div>
        <div class="col-1 fs-6">
            {% if txn.subcategory %}
                {{ txn.subcategory.name }}
            {% else %}
                None
            {% endif %}
        </div>
        <div class="col-1 fs-6">
             {% if txn.subcategory and txn.subcategory.parent %}
                {{ txn.subcategory.parent.name }}
            {% else %}
                None
            {% endif %}
        </div>
        <div class="col-1">
          [<a href="{% url 'categorize_transaction' txn.pk %}">Categorize</a>]
        </div>
        <div class="col-1">
          [<a href="{% url 'resolve_transaction' txn.pk %}">Suggest</a>]
        </div>
      </div>
    {% empty %}
    <li>No uncategorized transactions found.</li>
    {% endfor %}

</div>
{% endblock %}