{# Minimal upcoming report template #}
{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h1>Upcoming Forecast ({{ weeks_count }} weeks)</h1>

{% for week in weeks %}
<h4>Week of {{ week.week_start|date:"Y-m-d" }}</h4>
<table class="table table-sm">
    <thead>
        <tr>
            <th style="width: 15%;">Date</th>
            <th style="width: 10%;">Frequency</th>
            <th>Transactions</th>
            <th  class="text-end" style="width: 10%;">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for row in week.rows %}
            {% for t in row.transactions %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ row.transactions|length }}">{{ row.date|date:"D Y-m-d" }}</td>
                    {% endif %}
                    <td>{{ t.freq_days }}</td>
                    <td>{% if "(Designated)" in t.description %}{{ t.description }}{% else %}{{ t.payoree|default:t.description }}{% endif %}</td>
                    <td class="text-end">
                      <span class="currency {% if t.amount_cents >= 0 %}currency-positive{% else %}currency-negative{% endif %}">
                        {{ t.amount|floatformat:2|intcomma }}
                      </span>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Week total</th>
            <th></th>
            <th></th>
            <th class="text-end"><small>$</small> {{ week.week_total|floatformat:2 }}</th>

        </tr>
    </tfoot>
</table>
{% endfor %}
{% endblock %}