{% extends "base.html" %}
{% load widget_tweaks %}
{% load ingest_extras %}
{% block content %}
<h2>Commit Batch #{{ batch.pk }}</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">{{ form.bank_account.label_tag }} {{ form.bank_account|add_class:"form-control" }}</div>
  <button class="btn btn-success">Commit</button>
</form>
<hr>
<h3>Apply/Change Profile</h3>
<form method="post" action="{% url 'ingest:batch_apply_profile' batch.pk %}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="profile_id">Profile:</label>
    <select name="profile_id" id="profile_id" class="form-select">
      {% for profile in profiles %}
      <option value="{{ profile.id }}" {% if profile|is_selected:selected_profile_id %}selected{% endif %}>{{
        profile.name }}
      </option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Apply/Change Profile</button>
</form>
{% endblock %}